/* base units */
$gutter: 20px;

/* z-index */
$bottom: 0;
$middle: 1;
$top: 10;
$ultimate_top: 100;

/* transitions */
$transition_speed: 350ms;

/* nav */
$fixed_nav_height: 60px;
$slideout_nav_width: 300px;

/* footer */
$footer_height: 100px;

/* colors */
$matte_black: #030303;
$footer_color: #f3f3f3;

/* buttons */
$button_width: 280px;